# "clientID": "abfe3ae3-c64f-42f8-80c2-a6bf9fceb5ea",
# "clientSecret": "uPZuEYNUpGkDkRpy"
# {
#   "token_type": "Bearer",
#   "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJNYXBDbGFpbXMiOnsiYXVkIjoiaHR0cDovLzIwLjI0NC41Ni4xNDQvZXZhbHVhdGlvbi1zZXJ2aWNlIiwiZW1haWwiOiJrdjc1ODRAc3JtaXN0LmVkdS5pbiIsImV4cCI6MTc3NzY5OTMyMSwiaWF0IjoxNzc3Njk4NDIxLCJpc3MiOiJBZmZvcmQgTWVkaWNhbCBUZWNobm9sb2dpZXMgUHJpdmF0ZSBMaW1pdGVkIiwianRpIjoiODI3NWU4YTktNzlhNC00ZGU1LWFiYjUtM2NiYjI4ZTYzMzA4IiwibG9jYWxlIjoiZW4tSU4iLCJuYW1lIjoia2F1c2hpaWsgdiIsInN1YiI6ImFiZmUzYWUzLWM2NGYtNDJmOC04MGMyLWE2YmY5ZmNlYjVlYSJ9LCJlbWFpbCI6Imt2NzU4NEBzcm1pc3QuZWR1LmluIiwibmFtZSI6ImthdXNoaWlrIHYiLCJyb2xsTm8iOiJyYTIzMTEwMDMwMTA5NDUiLCJhY2Nlc3NDb2RlIjoiUWticHhIIiwiY2xpZW50SUQiOiJhYmZlM2FlMy1jNjRmLTQyZjgtODBjMi1hNmJmOWZjZWI1ZWEiLCJjbGllbnRTZWNyZXQiOiJ1UFp1RVlOVXBHa0RrUnB5In0.UpA1RZWWQWUtYp4monEvyYUMSq5LSAvw5AOaxArqwYU",
#   "expires_in": 1777699321
# }
node_modules/
package-lock.json
package.json
.env